* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.banner {
   width: 100%;
   padding: 0;
}

nav {
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(200,200,200);
}

ul {
    margin: auto;
    display: flex;
}

ul li {
    margin: auto;
    list-style: none;
    line-height: 38px;
    padding: 0 10px 0 10px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: rgb(6, 85, 163);
    font-size: 0.8rem;
}

ul li a:hover {
   color: rgb(158, 28, 28);
}

svg {
    padding-top: 10px;
}

.white {
    background-color: rgba(255, 255, 255, 0.5);
}

h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding-top: 15px;
    color: rgb(6, 85, 163);
}

.Procesor {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding-top: 15px;
}

.info {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    width: 90%;
    color: rgb(6, 85, 163);
}

.textHis {
    margin: auto;
    display: block;
    justify-content: center;
    text-align: left;
    font-size: 1.2rem;
    padding-top: 15px;
    width: 90%;
    color: rgb(6, 85, 163);
}

video {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-top: 15px;
}


.oknoDodawania {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}