* {
    margin: auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.banner {
   width: 100%;
   padding: 0;
}

nav {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(200,200,200);
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 38px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: rgb(6, 85, 163);
}

ul li a:hover {
   color: rgb(158, 28, 28);
}

svg {
    display: flex;
    justify-content: center;
    padding-top: 7px;
}

h2 {
    font-size: 1.5rem;
    padding-top: 10px;
}
.info {
    width: 100%;
    color: rgb(6, 85, 163);
    text-align: center;
    padding: 0;
}

div {
    padding-top: 15px;
    width: 90%;
    color: rgb(6, 85, 163);
}

video {
    width: 100%;
    padding-top: 15px;
}

.Procesor {
    width: 50%;
    padding-top: 15px;
}

.Home {
    background-color: black;
}